@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

		*{
		  list-style: none;
		  text-decoration: none;
		  margin: 0;
		  padding: 0;
		  box-sizing: border-box;
		  font-family: 'Open Sans', sans-serif;
		}
		
		.main{
		  background: #f5f6fa;
		}
		
		.wrapper .sidebar{
		  background: #0f3443;
		  position: fixed;
		  top: 125px;
		  left: 0;
		  width: 225px;
		  height: 100%;
		  padding: 20px 0;
		  transition: all 0.5s ease;
		}
		
		.wrapper .profile{
		  margin-bottom: 30px;
		  text-align: center;
		}
		
		.wrapper .profile img{
		  display: block;
		  width: 150px;
		  height: 150px;
		  border-radius: 50%;
		  margin: 0 auto;
		}
		
		.wrapper h1, h2{
		  color: #ffffff;
		  margin: 10px 0 5px;
		}
		
		.wrapper p{
		  color: rgb(206, 240, 253);
		  font-size: 14px;
		}
		
		.wrapper .sidebar ul li a{
		  display: block;
		  padding: 13px 30px;
		  border-bottom: 1px solid #0f3443;
		  color: rgb(241, 237, 237);
		  font-size: 16px;
		  position: relative;
		}
		
		.wrapper .sidebar ul li a .icon{
		  color: #dee4ec;
		  width: 30px;
		  display: inline-block;
		}
	
		
		.wrapper .sidebar ul li a:hover,
		.wrapper .sidebar ul li a.active{
		  color: #546041;
		
		  background:white;
		    border-right: 2px solid rgb(5, 68, 104);
		}
		
		.wrapper .sidebar ul li a:hover .icon,
		.wrapper .sidebar ul li a.active .icon{
		  color: #546041;
		}
		
		.wrapper .sidebar ul li a:hover:before,
		.wrapper .sidebar ul li a.active:before{
		  display: block;
		}
		
		.wrapper .section{
		  width: calc(100% - 225px);
		  margin-left: 225px;
		  transition: all 0.5s ease;
		}
		
		.wrapper .section .top_navbar{
		  background: #0f3443;
		  height: 50px;
		  position: fixed;
		  top:135px;
		  border-bottom-right-radius:10px;
		  align-items: center;
		  padding: 0 20px;
		
		 
		}
		
		.wrapper .section .top_navbar .hamburger a{
		  font-size: 28px;
		  color: #f4fbff;
		}
		
		.wrapper .section .top_navbar .hamburger a:hover{
		  color: #a2ecff;
		}
		
		 .wrapper .section .container{
		  margin: 30px;
		  background: #fff;
		  padding: 50px;
		  margin-top:30px;
		  line-height: 28px;
		}
		
		.main.active .wrapper .sidebar{
		  left: -225px;
		}
		
		.main.active .wrapper .section{
		  margin-left: 0;
		  width: 100%;
		}
		.sidebar.active {
		  width: 0;
		  padding: 0;
		}
		.welcome {
			height: 200px;
			width:100%;
			background: #0f3443;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #34e89e,#0f3443);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #34e89e,#0f3443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			border-radius: 5px;
			margin-top:120px;
		}
	
		
		.main{
		  background: #f5f6fa;
		 }
		
		<!--sidebar-->
		
		.dropdown-btn {
		  padding: 6px 8px 6px 16px;
		  text-decoration: none;
		  font-size: 20px;
		  color: #818181;
		  display: block;
		  border: none;
		  background: none;
		  width:100%;
		  text-align: left;
		  cursor: pointer;
		  outline: none;
		}
		.dropdown-btn:hover {
		  color: #f1f1f1;
		}
		.dropdown-container {
		  display: none;
		  background-color: black;
		  padding-left: 8px;
		}
		
		/* Optional: Style the caret down icon */
		.fa-caret-down {
		  float: right;
		  padding-right: 8px;
		}
		
		
		<!------->
		.wrapper .profile{
		  margin-bottom: 30px;
		  text-align: center;
		}
		
		.wrapper .profile img{
		  display: block;
		  width: 150px;
		  height: 150px;
		  border-radius: 50%;
		  margin: 0 auto;
		}
		
		.wrapper h1, h2{
		  color: #ffffff;
		  margin: 10px 0 5px;
		}
		
		.wrapper p{
		  color: rgb(206, 240, 253);
		  font-size: 14px;
		}
		
		 
		 .wrapper .section .container{
		  margin: 30px;
		  background: #fff;
		  padding: 50px;
		  margin-top:30px;
		  line-height: 28px;
		}
		
		.welcome {
			height: 200px;
			width:100%;
			background: #0f3443;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #34e89e,#0f3443);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #34e89e,#0f3443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			border-radius: 5px;
			margin-top:120px;
		}
		
		
		