@charset "UTF-8";

#header-bar {
	width : 100%;
	height : 115px;
	background-color: white;
	position: fixed;
	top:0px;
	z-index:10;
}


#logo{
	margin-top:5px;
	width:245px;
}
#button-box {
	display: flex;
	justify-content : right;
}

.button-sub-box {
	width : 100px;
	height : 80px;
	text-align : center;
}

.time-sub-box {
	width : 150px;
	height : 70px;
	text-align : center;
	margin-top : 25px;
}

#black-bar {
	width : 100%;
	height : 25px;
	background: #0f3443;  /* fallback for old browsers */
	
}

.time-text {
	font-size : 30px;
}