<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.myapp.board.dao.IBoardRepository">

	<select id="selectTotalArticleCount" resultType="int">
	<![CDATA[
		SELECT COUNT(BOARD_ID) AS "count"
		FROM BOARD
		]]>
	</select>
	
	<select id="selectCategoryArticleCount" parameterType="int" resultType="int">
	<![CDATA[
		SELECT COUNT(BOARD_ID) AS "count"
		FROM BOARD
		WHERE CATEGORY_ID = #{categoryId}
		]]>
	</select>
	<select id="selectMaxArticleNo" parameterType="int" resultType="int">
	<![CDATA[
		SELECT
			NVL(MAX(BOARD_ID),0) AS "articleNo"
		FROM BOARD
	]]>
	</select>
	
	<select id="selectMaxFileId" parameterType="int" resultType="int">
	<![CDATA[
		SELECT
			NVL(MAX(BOARD_ID),0) AS "boardFileId"
		FROM B_FILE
	]]>
	</select>
	
	<select id="selectTotalArticleList" parameterType="hashmap" resultType="com.team01.myapp.board.model.Board">
		<![CDATA[
		select 
			 rownum,
		     BOARD_ID as "boardId", 
		     CATEGORY_ID as "categoryId",
		     EMAIL as "email",
             WRITER as "writer",
		     PASSWORD as "password",
		     TITLE as "title",
		     WRITE_DATE as "writeDate",
		     READ_COUNT as "readCount",
		     U_ID as "uId",
		     CONTENT as "content"
			from(
				select 
					rownum as rnum,
		            BOARD_ID ,
				    CATEGORY_ID ,
				    EMAIL ,
                    WRITER,
				    PASSWORD ,
				    TITLE ,
				    WRITE_DATE , 
				    READ_COUNT ,
				    U_ID ,
				    CONTENT 
				from(
				select      BOARD_ID ,
						    CATEGORY_ID ,
						    EMAIL ,
                            WRITER,
						    PASSWORD ,
						    TITLE ,
						    WRITE_DATE , 
						    READ_COUNT ,
						    U_ID ,
						    CONTENT 
						from(
						    select 
						        BOARD_ID ,
						        CATEGORY_ID ,
						        EMAIL  ,
                                WRITER,
						        PASSWORD ,
						        TITLE ,
						        WRITE_DATE ,
						        READ_COUNT ,
						        U_ID ,
						        CONTENT
		                
				            from board
				        )
				order by BOARD_ID desc
				) 
				where rownum <= #{end}
				) 
				where rnum >= #{start}
		]]>
	</select>
	
	<select id="selectArticleListByCategory" parameterType="map"
		resultType="com.team01.myapp.board.model.Board">
		<![CDATA[
				SELECT
					BOARD_ID		AS "boardId",
					CATEGORY_ID		AS "categoryId",
					WRITER			AS "writer",
					EMAIL			AS "email",
					TITLE			AS "title",
					WRITE_DATE		AS "writeDate",
					READ_COUNT		AS "readCount",
					RNUM			AS "seq"
				FROM (
					SELECT
						BOARD_ID,
						CATEGORY_ID,
						WRITER,
						EMAIL,
						TITLE,
						WRITE_DATE,
						READ_COUNT,
						ROWNUM AS RNUM
					FROM (
						SELECT * FROM BOARD
						WHERE CATEGORY_ID=#{categoryId}
						ORDER BY WRITE_DATE
						)
					)
				WHERE RNUM BETWEEN #{start} AND #{end}
		]]>
	</select>
	
	<!-- 읽기 기능 -->
	
	<select id="selectArticle" parameterType="int"
		resultType="com.team01.myapp.board.model.Board">
	<![CDATA[
		SELECT
		    BOARD.BOARD_ID			AS "boardId",
		    CATEGORY_ID				AS "categoryId",
		    WRITER					AS "writer",
		    EMAIL					AS "email",
		    TITLE					AS "title",
		    CONTENT					AS "content",
		    READ_COUNT				AS "readCount",
		    WRITE_DATE				AS "writeDate",
		    B_FILE_ID	AS "boardFileId",
		    B_FILE_NAME AS "boardFileName",
		    B_FILE_SIZE	AS "boardFileSize",
		    B_FILE_CONTENT_TYPE AS "boardFileContentType"
		FROM BOARD LEFT OUTER JOIN B_FILE
		    ON BOARD.BOARD_ID=B_FILE.BOARD_ID
		WHERE BOARD.BOARD_ID=#{boardId}
	]]>
	</select>
	
	<update id="updateReadCount" parameterType="int">
	<![CDATA[
		UPDATE BOARD
			SET READ_COUNT = READ_COUNT+1
		WHERE BOARD_ID=#{boardId}
	]]>
	</update>
	
	<select id="getFile" parameterType="int" resultType="com.team01.myapp.board.model.BoardUploadFile">
	<![CDATA[
		SELECT 
			B_FILE_ID		AS "boardFileId",
			BOARD_ID	AS "boardId",
			B_FILE_NAME	AS "boardFileName",
			B_FILE_SIZE	AS "boardFileSize",
			B_FILE_CONTENT_TYPE AS "boardFileContentType",
			B_FILE_DATA	AS	"boardFileData"
		FROM B_FILE
		WHERE B_FILE_ID=#{boardFileId}			
	]]>		
	</select>
	
	<!-- 쓰기  -->
	
	<insert id="insertArticle" parameterType="com.team01.myapp.board.model.Board">
	<![CDATA[
		INSERT INTO
		BOARD
			(BOARD_ID, CATEGORY_ID, WRITER, EMAIL, PASSWORD, TITLE, CONTENT, WRITE_DATE, U_ID, READ_COUNT)
		VALUES
			(#{boardId}, #{categoryId}, #{writer}, #{email}, #{password}, #{title}, #{content}, SYSDATE, #{userId}, 0)
	]]>
	</insert>
	
	<insert id="insertFileData"  parameterType="com.team01.myapp.board.model.BoardUploadFile">
	<![CDATA[	
		INSERT INTO
		B_FILE
			(B_FILE_ID, BOARD_ID, B_FILE_NAME, B_FILE_SIZE, B_FILE_CONTENT_TYPE, B_FILE_DATA)
		VALUES
			(#{boardFileId}, #{boardId}, #{boardFileName}, #{boardFileSize}, #{boardFileContentType}, #{boardFileData})
	]]>
	</insert>
	
	
	
</mapper>