<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.myapp.subattendance.dao.ISubAttendanceRepository">
	
	<!-- attNo 값을 읽어오기 위한 select 문 -->
	<select id="selectAttNo" parameterType="map" resultType="int">
		<![CDATA[
			SELECT att_no
			FROM ATTENDANCE
			WHERE to_char(att_date, 'YYYYMMDD') = #{today}
			AND u_id = #{userId}
		]]>
	</select>





</mapper>