<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.myapp.attendance.dao.IAttendanceRepository">
	
	<!-- 전체 학생 수 조회 -->
	<select id="selectAttendanceList"
		resultType="com.team01.myapp.attendance.model.Attendance">
		<![CDATA[
			SELECT
				att_no AS "attNo",
				att_date AS "attDate",
				att_time AS "attTime",
				leave_time AS "leaveTime",
				status AS "status",
				u_id AS "userId",
				subject_id AS "subjectId"
			FROM attendance
		]]>
	</select>
	
	<!-- 출근 버튼 클릭시 출근이 있는지 확인 하는 select문 -->
	<select id="selectAtterdanceCheck" parameterType="map" resultType="string">
		<![CDATA[
			SELECT
				status
			FROM attendance
			WHERE TO_CHAR(att_date, 'YYYYMMDD') = #{attDate}
			AND u_id = #{userId}
		]]>
	</select>
	
	<!-- 출근 버튼 클릭시 insert문 -->
	<insert id="insertAttendance" parameterType="com.team01.myapp.attendance.model.Attendance">
		<![CDATA[
			INSERT INTO
			attendance
				(att_no, att_date, att_time, leave_time, status, u_id, subject_id)
			VALUES
				(seq_att_no.NEXTVAL, sysdate, sysdate, null, #{status}, #{userId}, #{subjectId})
		]]>
	</insert>
	
	<!-- 출근 버튼 클릭시 휴가가 이미 있을 때 update 하기 위한 글 -->
	<update id="updateAttendance" parameterType="map">
		<![CDATA[
			UPDATE attendance
			SET att_time = sysdate,
				status = #{choice}
			WHERE u_id = #{userId}
			AND TO_CHAR(att_date, 'YY/MM/DD') = #{attDate}
		]]>
	</update>
	
	<!-- 출근 시간을 띄워주기 위한 select 문 -->
	<select id="selectAttTime" parameterType="map" resultType="string">
		<![CDATA[
			SELECT TO_CHAR(att_time, 'HH:MI:SS') AS att_time
			FROM ATTENDANCE
			WHERE to_char(att_date, 'YYYYMMDD') = #{today}
			AND u_id = #{userId}
		]]>
	</select>
	
	<!-- 퇴근 시간을 띄워주기 위한 select 문 -->
	<select id="selectLeaveTime" parameterType="map" resultType="string">
		<![CDATA[
			SELECT TO_CHAR(leave_time, 'HH24:MI:SS') AS leave_time
			FROM ATTENDANCE
			WHERE to_char(att_date, 'YYYYMMDD') = #{today}
			AND u_id = #{userId}
		]]>
	</select>
	
	<!-- 학생 개인의 일정을 불러오기 위한 select 문 -->
	<select id="selectOneUserAttendanceList" parameterType="string" resultType="com.team01.myapp.attendance.model.AttendanceList">
		<![CDATA[
			SELECT 
				ATT_DATE AS "attDate", 
				STATUS AS "status",
				TO_CHAR(ATT_TIME, 'HH24:MI') AS "attTime",
				TO_CHAR(LEAVE_TIME, 'HH24:MI') AS "leaveTime"
			FROM ATTENDANCE
			WHERE u_id = #{userId}
		]]>
	</select>
	
	<!-- 퇴근 시 attendance 테이블에 leave_time을 추가하기 위한 update문 -->
	<update id="updateLeaveCheck" parameterType="map">
		<![CDATA[
			UPDATE attendance
			SET leave_time = sysdate
			WHERE u_id = ${userId}
			AND TO_CHAR(att_date, 'YY/MM/DD') = #{attDate}
		]]>
	</update>
	
	<!-- 23시 59분에 행을 그 당일에 맞는 미출석인 행을 불러오기위한 select 문 -->
	<select id="selectCheckOutAttNo" parameterType="string" resultType="com.team01.myapp.attendance.model.Attendance">
		<![CDATA[
			SELECT ATT_NO AS "attNo"
			FROM ATTENDANCE
			WHERE STATUS = '미출석'
			AND TO_CHAR(att_date, 'YYYYMMDD') = #{today}
		]]>
	</select>
	
	<update id="updateCheckOut" parameterType="int">
		<![CDATA[
			UPDATE ATTENDANCE
			SET STATUS = '결근'
			WHERE att_no = #{attNo}
		]]>
	</update>
	
	<select id="selectCheckOutAttNoSubjectId" parameterType="string" resultType="com.team01.myapp.attendance.model.Attendance">
		<![CDATA[
			SELECT 
			    U.U_ID AS "userId", 
			    U.SUBJECT_ID AS "subjectId"
			FROM USERS U
			    LEFT JOIN (
			        SELECT U_ID, SUBJECT_ID
			        FROM ATTENDANCE
			        WHERE TO_CHAR(att_date, 'YYYYMMDD') = #{today}
			    ) A
			    ON U.U_ID = A.U_ID
			WHERE A.U_ID IS NULL
			AND U.SUBJECT_ID != 0
		]]>
	</select>
	
	<insert id="insertCheckOut" parameterType="map">
		<![CDATA[
			INSERT INTO
			    attendance
			        (att_no, att_date, att_time, leave_time, status, u_id, subject_id)
			    VALUES
			        (seq_att_no.NEXTVAL, sysdate, null, null, '결근', #{userId}, #{subjectId})
		]]>
	</insert>
	
	<select id="selectCheck" parameterType="string" resultType="com.team01.myapp.attendance.model.Attendance">
		<![CDATA[
			SELECT STATUS
			FROM ATTENDANCE
			WHERE U_ID = #{userId}
		]]>
	</select>
	
	<select id="selectSubjectName" parameterType="int" resultType="string">
		<![CDATA[
			SELECT SUBJECT_NAME
			FROM SUBJECT
			WHERE SUBJECT_ID = #{subjectId}
		]]>
	</select>
		
</mapper>